 body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: left;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgaBoamu8GAorUiEY1uGlcGnTLh4vpcd3s-A&s");
    background-size: cover;
    background-size: 120%;
    background-repeat: no-repeat;
    margin: 0;
  

  }
  #question-container {
    margin-top: 20px;
  }
  .answer-btn {
    display: block;
    margin: 8px;
    padding: 20px;
    width: 200px;
  }
  #result {
    font-weight: bold;
    margin-top: 20px;
  }
